{% extends 'sharedpage.html'%}
{% block title %} Add Job {% endblock title %}
{% block main %}
    <main>
      <section class="contact-section">
        <h2>Add Job</h2>
        <div class="contact-div">
           <form class="contact-form" id="contact-form" action="{% url 'jobapp:new-job'%}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{form}}        
          <button>Add Blog</button>
          </form>
        </div>
      </section>
    </main>
{% endblock main %}