{% extends 'sharedpage.html'%}
{% block title %} Register User {% endblock title %}
{% block main %}
    <main>
        <section class="contact-section">
            
            <h2>Register a New User</h2>

            <div class="contact-div">

                <form class="contact-form"  action="/users/register/" method="POST"></form>
                {% csrf_token %}
                {{form}}
                <button>Submit</button>
            </div>

        </section>
    </main>
{% endblock main %}
  