{% extends 'sharedpage.html'%}
{% block title %} Login {% endblock title %}
{% block main %}
    <main>
        <section class="contact-section">
            
            <h2>Login Page</h2>

            <div class="contact-div">

            <form class="contact-form"  action="/users/login/" method="POST">
             {% csrf_token %}
             {{form}}

             {% if request.GET.next %}
             <input type='hidden' name='next' value='{{request.GET.next}}' />

            {% endif %}
                <button>Submit</button>
            </form>
            </div>

        </section>
    </main>
{% endblock main %}
  